<style>
  body {
    background: #fafafa;
  }
  .order-card {
    color: #fff;
  }

  .bg-c-blue {
    background: linear-gradient(45deg, #4099ff, #73b4ff);
  }

  .bg-c-green {
    background: linear-gradient(45deg, #2ed8b6, #59e0c5);
  }

  .bg-c-yellow {
    background: linear-gradient(45deg, #ffb64d, #ffcb80);
  }

  .bg-c-pink {
    background: linear-gradient(45deg, #ff5370, #ff869a);
  }

  .card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .card .card-block {
    padding: 25px;
  }

  .order-card i {
    font-size: 26px;
  }

  .text-right {
    float: left;
  }

  .f-right {
    float: right;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card bg-c-blue order-card">
        <div class="card-block">
          <h6 class="m-b-20">Total Complaints</h6>
          <h2 class="text-right">
            <i class="fa-solid fa-file-signature"></i
            ><span class="f-right">&nbsp;{{total_complaints}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card bg-c-yellow order-card">
        <div class="card-block">
          <h6 class="m-b-20">New Complaints</h6>
          <h2 class="text-right">
            <i class="fa-solid fa-file-circle-plus"></i>
            <span class="f-right">&nbsp; {{new}}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card bg-c-pink order-card">
        <div class="card-block">
          <h6 class="m-b-20">Complaints Pending</h6>
          <h2 class="text-right">
            <i class="fa-solid fa-clipboard-question"></i
            ><span class="f-right">&nbsp;{{pending}}</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12">
      <div class="card bg-c-green order-card">
        <div class="card-block">
          <h6 class="m-b-20">Complaints Resolved</h6>
          <h2 class="text-right">
            <i class="fa-solid fa-square-check"></i>
            <span class="f-right">&nbsp; {{solved}}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
